.actions a,
.actions a:link,
.action,
.action:link,
.actions button,
button,
.current,
.actions label,
button[type="submit"] {border: none;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.actions input,
input[type="submit"],
textarea {
  border: 1px solid;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
}

input {
  width: 96%;
  border: 1px solid;
  background-image: none;
  box-shadow: none;  
}

.actions input[type="checkbox"]{
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}


form.search input[type="text"] {
  border-top-color: initial;
}

.actions a:hover,
.actions button:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions button:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current,
button[type="submit"]:hover,
button:hover {
  border-color: initial;
  box-shadow: none !important;
}

#header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
#header .primary,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.delete a,
span.delete,
#header ul.primary {
  box-shadow: none;
}

.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions button:hover,
.actions input:hover,
.actions a:focus,
.actions button:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
button[type="submit"]:hover,
button:hover {
  border: none;
  box-shadow: none;
}

.listbox .index,
.dashboard .listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.actions button,
.action:link,
input[type="submit"],
button,
.current,
.actions label {
  border: none;
  border-bottom: none;
  background-image: none;
  box-shadow: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current+.menu {
  box-shadow: none;
  background-image: none;
  filter: none;
}